<% provide(:title, @user.first_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.first_name %> <%= @user.last_name %>
      </h1>
      <h2>
        <%= @user.email %>
      </h2>
      <%= link_to @user.sk_username, "http://www.songkick.com/users/#{@user.sk_username}", {:class => "sk-link"} %>
    </section>
  </aside>
  <div class="col-md-8">
    <% unless @calendar_entries %>
      <% if current_user?(@user) %>
        <div class="invalid-sk-username"> Invalid Songkick username </div>
        <hr>
        You have to provide a valid songkick username to see your upcoming concerts.
        <br>
        You can do this in the <%= link_to "settings tab", edit_user_path(current_user), {:class => "sk-link"} %>.
      <% else %>
        <div class="invalid-sk-username"> No events to display </div>
        <hr>
        This user has not provided a valid Songkick username.
      <% end %>
    <% else %>
      <% if @calendar_entries.any? %>
        <h3>Concerts you are going to (<%= @going.count %>)</h3>
        <% if @going.any? %>
          <ol class="calendar-entries">
            <%= render @going %>
          </ol>
        <% else %>
          <hr>
          You aren't going to any events.
        <% end %>
        <br><br><br>
        <% if @might_go.any? %>
          <h3>Concerts you might attend (<%= @might_go.count %>)</h3>
          <ol class="calendar-entries">
            <%= render @might_go  %>
          </ol>
        <% else %>
          You aren't tracking any events.
        <% end %>
      <% else %>
        <h3>You aren't attending or tracking any upcoming events.</h3>
      <% end %>
    <% end %>
  </div>
</div>
